.breadcrumb-wrapper {
  margin: 25px 0 15px 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid rgba(190,190,190,0.3);
}

.breadcrumb-cont {
  height: 100%;
  width: 170px;
  float: left;
  margin-right: 3px;
  border-radius: 6px 6px 0 0;
  background: rgba(190,190,190,0.1);
  transition: all 0.3s ease;
}

.breadcrumb-cont span{
  color: #979797;
  transition: all 0.3s ease;
}

.breadcrumb-cont span i{
  font-style: normal;
}

.breadcrumb-cont:hover {
  cursor: pointer;
  background: rgba(190, 190, 190, 0.3);
  transition: all 0.3s ease;
}

.breadcrumb-cont:hover span{
  color: #DADADA;
  transition: all 0.3s ease;
}

 .breadcrumb-wrapper .active {
  background: rgba(190, 190, 190, 0.3);
}

.breadcrumb-wrapper .active span {
  color: #DADADA;
}

.breadcrumb-wrapper .active span i {
  color: yellow
}


@media (max-width: 1268px) {
  .breadcrumb-wrapper {
    height: 48px;
  }
  .breadcrumb-cont {
    width: 160px;
  }
}

@media (max-width: 1068px) {
  .breadcrumb-wrapper {
    height: 45px;
  }
  .breadcrumb-cont {
    width: 150px;
  }
}

@media (max-width: 868px) {
  .breadcrumb-wrapper {
    height: 42px;
  }
  .breadcrumb-cont {
    width: 140px;
  }
}

@media (max-width: 768px) {
  .breadcrumb-cont {
    width: 130px;
  }
}

@media (max-width: 668px) {
  .breadcrumb-wrapper {
    height: 40px;
  }
  .breadcrumb-cont {
    width: 125px;
  }
}

@media (max-width: 568px) {
  .breadcrumb-cont {
    width: 32.5%;
    margin-right: .83%
  }
}

@media (max-width: 468px) {
  .breadcrumb-cont {
    width: 94px;
  }
  .breadcrumb-wrapper .breadcrumb-cont:last-child{
    margin-right: 0;
  } 
  .breadcrumb-cont span {
    font-size: .7em
  }
}